# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/Gizmos/FMOD/*
!/[Aa]ssets/Editor Default Resources/FMOD/*

# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/Plugins/FMOD/Cache/*

# Ignore bank files in the StreamingAssets folder.
/[Aa]ssets/StreamingAssets/**/*.bank
/[Aa]ssets/StreamingAssets/**/*.bank.meta

# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log


# OS Generated
# ============
._*
.DS_Store
.Spotlight-V100
.Trashes
ehthumbs.db
[Dd]esktop.ini
[Tt]humbs.db

# IDE Generated
# =============
.vs/
.vscode/
.consulo/
.gradle/
.idea/
*.tmp
*.mdb
*.opendb
*.svd
*.tmp
*.VC.db
*.booproj
*.csproj
*.pdb
*.pidb
*.sln
*.suo
*.unityproj
*.user
*.userprefs
*.vsconfig
[Ee]xported[Oo]bj/

# Unity Generated
# ===============
*.stackdump
*.mdb.meta
*.pdb.meta
*.pidb.meta
*.gen.csproj.meta
*.DotSettings
*.symbols.zip
sysinfo.txt
crashlytics-build.properties

# Project Relative
# ================
/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/[Ll]ogs/
/[Cc]ode[Cc]overage/
/[Mm]emory[Cc]aptures/
/[Oo]bj/
/[Tt]emp/
/[Uu]ser[Ss]ettings/
/Assets/AssetStoreTools*
/Assets/SceneDependencyCache*
/Assets/TypeDependencyCache*

# Custom
# ====
__*
Assets/Saves/*
Assets/_Project/Developers/*
*Assets/MMData/
